:root {
  --primitive-border-radius-2: 2;
  --primitive-border-radius-4: 4;
  --primitive-border-radius-8: 8;
  --primitive-border-radius-12: 12;
  --primitive-border-radius-round: 9999;
  --primitive-border-width-1: 1;
  --primitive-border-width-2: 2;
  --primitive-border-width-4: 4;
  --primitive-color-alpha-black-2: rgba(0, 0, 0, 0.02);
  --primitive-color-alpha-black-5: rgba(0, 0, 0, 0.05);
  --primitive-color-alpha-black-8: rgba(0, 0, 0, 0.08);
  --primitive-color-alpha-black-10: rgba(0, 0, 0, 0.1);
  --primitive-color-alpha-black-16: rgba(0, 0, 0, 0.16);
  --primitive-color-alpha-blue-6: rgba(0, 99, 229, 0.06);
  --primitive-color-alpha-blue-8: rgba(0, 99, 229, 0.08);
  --primitive-color-alpha-blue-10: rgba(0, 99, 229, 0.1);
  --primitive-color-alpha-blue-12: rgba(0, 99, 229, 0.12);
  --primitive-color-alpha-blue-15: rgba(0, 99, 229, 0.15);
  --primitive-color-alpha-white-16: rgba(255, 255, 255, 0.16);
  --primitive-color-alpha-white-20: rgba(255, 255, 255, 0.2);
  --primitive-color-alpha-white-50: rgba(255, 255, 255, 0.5);
  --primitive-color-brand-20: #e5f3ff;
  --primitive-color-brand-30: #cce6ff;
  --primitive-color-brand-40: #99ceff;
  --primitive-color-brand-50: #70baff;
  --primitive-color-brand-60: #3892ff;
  --primitive-color-brand-90: #05125c;
  --primitive-color-brand-100: #030d3f;
  --primitive-color-palette-blue-30: #edf6fd;
  --primitive-color-palette-blue-40: #acd6f6;
  --primitive-color-palette-blue-60: #0063e5;
  --primitive-color-palette-blue-90: #081e96;
  --primitive-color-palette-green-30: #e0ffea;
  --primitive-color-palette-green-40: #9effbd;
  --primitive-color-palette-green-60: #5aea87;
  --primitive-color-palette-green-90: #1b592f;
  --primitive-color-palette-mint-30: #a7eaee;
  --primitive-color-palette-mint-60: #00a0a8;
  --primitive-color-palette-mint-90: #006065;
  --primitive-color-palette-neutral-10: #ffffff;
  --primitive-color-palette-neutral-20: #f7f9fb;
  --primitive-color-palette-neutral-30: #f0f3f7;
  --primitive-color-palette-neutral-40: #ecedf0;
  --primitive-color-palette-neutral-50: #d8dce1;
  --primitive-color-palette-neutral-60: #b2b8c2;
  --primitive-color-palette-neutral-70: #8690a0;
  --primitive-color-palette-neutral-75: #686e7a;
  --primitive-color-palette-neutral-80: #454a54;
  --primitive-color-palette-neutral-90: #303540;
  --primitive-color-palette-neutral-100: #1c1e22;
  --primitive-color-palette-orange-30: #fff0d9;
  --primitive-color-palette-orange-40: #ffd9a0;
  --primitive-color-palette-orange-60: #ffb84e;
  --primitive-color-palette-orange-90: #865000;
  --primitive-color-palette-red-30: #ffe5e7;
  --primitive-color-palette-red-40: #ffb8bd;
  --primitive-color-palette-red-60: #fd414f;
  --primitive-color-palette-red-70: #e10818;
  --primitive-color-palette-red-90: #80151d;
  --primitive-color-static-transparent: rgba(0, 0, 0, 0);
  --primitive-color-static-black: #000000;
  --primitive-color-static-white: #ffffff;
  --primitive-shadow-lg-color: rgba(0, 0, 0, 0.16);
  --primitive-shadow-lg-spread: 0;
  --primitive-shadow-lg-blur: 36;
  --primitive-shadow-lg-y: 12;
  --primitive-shadow-lg-x: 0;
  --primitive-shadow-md-color: rgba(0, 0, 0, 0.1);
  --primitive-shadow-md-spread: 0;
  --primitive-shadow-md-blur: 12;
  --primitive-shadow-md-y: 8;
  --primitive-shadow-md-x: 0;
  --primitive-shadow-sm-color: rgba(0, 0, 0, 0.1);
  --primitive-shadow-sm-spread: 0;
  --primitive-shadow-sm-blur: 4;
  --primitive-shadow-sm-y: 2;
  --primitive-shadow-sm-x: 0;
  --primitive-spacing-2: 2;
  --primitive-spacing-4: 4;
  --primitive-spacing-8: 8;
  --primitive-spacing-12: 12;
  --primitive-spacing-16: 16;
  --primitive-spacing-20: 20;
  --primitive-spacing-24: 24;
  --primitive-spacing-32: 32;
  --primitive-spacing-40: 40;
  --primitive-spacing-48: 48;
  --primitive-spacing-56: 56;
  --primitive-spacing-64: 64;
  --primitive-spacing-80: 80;
  --primitive-typography-font-family-open-sans: Open Sans;
  --primitive-typography-font-size-10: 10;
  --primitive-typography-font-size-12: 12;
  --primitive-typography-font-size-14: 14;
  --primitive-typography-font-size-16: 16;
  --primitive-typography-font-size-20: 20;
  --primitive-typography-font-size-24: 24;
  --primitive-typography-font-size-28: 28;
  --primitive-typography-font-weight-400: 400;
  --primitive-typography-font-weight-600: 600;
  --primitive-typography-font-weight-700: 700;
  --primitive-typography-letter-spacing-0: 0;
  --primitive-typography-letter-spacing-5: 5;
  --primitive-typography-letter-spacing-minus-1-6: -0.32;
  --primitive-typography-letter-spacing-minus-1-half: -0.3;
  --primitive-typography-letter-spacing-minus-2: -0.56;
  --primitive-typography-letter-spacing-pos-5-percent: 0.55;
  --primitive-typography-line-height-10: 10;
  --primitive-typography-line-height-12: 12;
  --primitive-typography-line-height-14: 14;
  --primitive-typography-line-height-16: 16;
  --primitive-typography-line-height-20: 20;
  --primitive-typography-line-height-24: 24;
  --primitive-typography-line-height-28: 28;
  --primitive-typography-line-height-32: 32;
  --primitive-typography-text-transform-title-case: title-case;
  --primitive-typography-text-transform-uppercase: uppercase;
  --primitive-typography-text-transform-none: none;
  --semantic-border-radius-full: 9999;
  --semantic-border-radius-lg: 8;
  --semantic-border-radius-md: 8;
  --semantic-border-radius-sm: 4;
  --semantic-border-radius-xs: 2;
  --semantic-border-width-md: 4;
  --semantic-border-width-sm: 2;
  --semantic-border-width-xs: 1;
  --semantic-box-shadow-lg-color: rgba(0, 0, 0, 0.16);
  --semantic-box-shadow-lg-spread: 0;
  --semantic-box-shadow-lg-blur: 36;
  --semantic-box-shadow-lg-y: 12;
  --semantic-box-shadow-lg-x: 0;
  --semantic-box-shadow-md-color: rgba(0, 0, 0, 0.1);
  --semantic-box-shadow-md-spread: 0;
  --semantic-box-shadow-md-blur: 12;
  --semantic-box-shadow-md-y: 8;
  --semantic-box-shadow-md-x: 0;
  --semantic-box-shadow-sm-color: rgba(0, 0, 0, 0.1);
  --semantic-box-shadow-sm-spread: 0;
  --semantic-box-shadow-sm-blur: 4;
  --semantic-box-shadow-sm-y: 2;
  --semantic-box-shadow-sm-x: 0;
  --semantic-color-action-danger: #e10818;
  --semantic-color-action-tertiary: #ffffff;
  --semantic-color-action-secondary: #e5f3ff;
  --semantic-color-action-primary: #0063e5;
  --semantic-color-action-disabled-subtle: #ecedf0;
  --semantic-color-action-disabled-default: #d8dce1;
  --semantic-color-action-disabled-strong: #8690a0;
  --semantic-color-action-inactive-subtle: #8690a0;
  --semantic-color-action-inactive-default: #8690a0;
  --semantic-color-action-inactive-strong: #8690a0;
  --semantic-color-border-inverse: #ffffff;
  --semantic-color-border-strong: #454a54;
  --semantic-color-border-emphasis: #8690a0;
  --semantic-color-border-muted: #b2b8c2;
  --semantic-color-border-default: #30363e;
  --semantic-color-border-subtle: #515964;
  --semantic-color-border-brand-secondary: #081e96;
  --semantic-color-border-brand-primary: #0063e5;
  --semantic-color-content-inverse: #ffffff;
  --semantic-color-content-weak: #8690a0;
  --semantic-color-content-muted: #a1b2c2;
  --semantic-color-content-subtle: #a1b2c2;
  --semantic-color-content-default: #e6edf4;
  --semantic-color-content-brand-secondary: #081e96;
  --semantic-color-content-brand-primary: #0063e5;
  --semantic-color-data-05: #00a0a8;
  --semantic-color-data-04: #ffb84e;
  --semantic-color-data-03: #5aea87;
  --semantic-color-data-02: #fd414f;
  --semantic-color-data-01: #3892ff;
  --semantic-color-focus-ring-danger: #e10818;
  --semantic-color-focus-ring-secondary: #8690a0;
  --semantic-color-focus-ring-primary: #0063e5;
  --semantic-color-icon-weak: #8690a0;
  --semantic-color-icon-inverse: #ffffff;
  --semantic-color-icon-muted: #686e7a;
  --semantic-color-icon-subtle: #454a54;
  --semantic-color-icon-default: #1c1e22;
  --semantic-color-icon-brand-secondary: #081e96;
  --semantic-color-icon-brand-primary: #0063e5;
  --semantic-color-overlay-black-2: rgba(0, 0, 0, 0.02);
  --semantic-color-overlay-black-5: rgba(0, 0, 0, 0.02);
  --semantic-color-overlay-black-8: rgba(0, 0, 0, 0.08);
  --semantic-color-overlay-black-10: rgba(0, 0, 0, 0.1);
  --semantic-color-overlay-black-16: rgba(0, 0, 0, 0.16);
  --semantic-color-overlay-brand-6: rgba(0, 99, 229, 0.06);
  --semantic-color-overlay-brand-8: rgba(0, 99, 229, 0.08);
  --semantic-color-overlay-brand-10: rgba(0, 99, 229, 0.1);
  --semantic-color-overlay-brand-12: rgba(0, 99, 229, 0.12);
  --semantic-color-overlay-brand-15: rgba(0, 99, 229, 0.15);
  --semantic-color-overlay-white-16: rgba(255, 255, 255, 0.16);
  --semantic-color-overlay-white-20: rgba(255, 255, 255, 0.2);
  --semantic-color-overlay-white-50: rgba(255, 255, 255, 0.5);
  --semantic-color-status-border-danger-subtle: #e10818;
  --semantic-color-status-border-danger-emphasized: #e10818;
  --semantic-color-status-border-info-subtle: #0063e5;
  --semantic-color-status-border-info-emphasized: #0063e5;
  --semantic-color-status-border-success-subtle: #5aea87;
  --semantic-color-status-border-success-emphasized: #5aea87;
  --semantic-color-status-border-warning-subtle: #ffb84e;
  --semantic-color-status-border-warning-emphasized: #ffb84e;
  --semantic-color-status-content-warning: #865000;
  --semantic-color-status-content-error: #e10818;
  --semantic-color-status-content-danger: #80151d;
  --semantic-color-status-content-info: #081e96;
  --semantic-color-status-content-success: #1b592f;
  --semantic-color-status-icon-warning: #865000;
  --semantic-color-status-icon-success: #1b592f;
  --semantic-color-status-icon-danger: #80151d;
  --semantic-color-status-icon-info: #081e96;
  --semantic-color-status-surface-warning: #fff0d9;
  --semantic-color-status-surface-success: #e0ffea;
  --semantic-color-status-surface-info: #edf6fd;
  --semantic-color-status-surface-danger-emphasized: #ffe5e7;
  --semantic-color-status-surface-danger-subtle: #ffe5e7;
  --semantic-color-surface-selected: #e5f3ff;
  --semantic-color-surface-progress: #d8dce1;
  --semantic-color-surface-page: #0c1117;
  --semantic-color-surface-container-inverse: #303540;
  --semantic-color-surface-container-strong: #d8dce1;
  --semantic-color-surface-container-emphasis: #ecedf0;
  --semantic-color-surface-container-muted: #f0f3f7;
  --semantic-color-surface-container-subtle: #161b22;
  --semantic-color-surface-container-default: #1d2533;
  --semantic-color-surface-container-brand-tertiary: #030d3f;
  --semantic-color-surface-container-brand-secondary: #030d3f;
  --semantic-color-surface-container-brand-primary: #030d3f;
  --semantic-color-surface-elevated-subtle: #f7f9fb;
  --semantic-color-surface-elevated-default: #ffffff;
  --semantic-spacing-gap-xl: 24;
  --semantic-spacing-gap-lg: 16;
  --semantic-spacing-gap-md: 12;
  --semantic-spacing-gap-sm: 8;
  --semantic-spacing-gap-xs: 4;
  --semantic-spacing-inline-xl: 24;
  --semantic-spacing-inline-lg: 16;
  --semantic-spacing-inline-md: 12;
  --semantic-spacing-inline-sm: 8;
  --semantic-spacing-inline-xs: 4;
  --semantic-spacing-inset-xl: 24;
  --semantic-spacing-inset-lg: 16;
  --semantic-spacing-inset-md: 12;
  --semantic-spacing-inset-sm: 8;
  --semantic-spacing-inset-xs: 4;
  --semantic-spacing-layout-container-lg: 32;
  --semantic-spacing-layout-container-md: 24;
  --semantic-spacing-layout-container-sm: 16;
  --semantic-spacing-layout-section-xl: 80;
  --semantic-spacing-layout-section-lg: 64;
  --semantic-spacing-layout-section-md: 48;
  --semantic-spacing-layout-section-sm: 32;
  --semantic-spacing-stack-xl: 24;
  --semantic-spacing-stack-lg: 16;
  --semantic-spacing-stack-md: 12;
  --semantic-spacing-stack-sm: 8;
  --semantic-spacing-stack-xs: 4;
  --semantic-typography-body-lg-regular-text-transform: none;
  --semantic-typography-body-lg-regular-letter-spacing: 0;
  --semantic-typography-body-lg-regular-line-height: 24;
  --semantic-typography-body-lg-regular-font-size: 20;
  --semantic-typography-body-lg-regular-font-weight: 400;
  --semantic-typography-body-lg-regular-font-family: Open Sans;
  --semantic-typography-body-lg-semibold-text-transform: none;
  --semantic-typography-body-lg-semibold-letter-spacing: 0;
  --semantic-typography-body-lg-semibold-line-height: 24;
  --semantic-typography-body-lg-semibold-font-size: 20;
  --semantic-typography-body-lg-semibold-font-weight: 600;
  --semantic-typography-body-lg-semibold-font-family: Open Sans;
  --semantic-typography-body-md-regular-text-transform: none;
  --semantic-typography-body-md-regular-letter-spacing: 0;
  --semantic-typography-body-md-regular-line-height: 24;
  --semantic-typography-body-md-regular-font-size: 16;
  --semantic-typography-body-md-regular-font-weight: 400;
  --semantic-typography-body-md-regular-font-family: Open Sans;
  --semantic-typography-body-md-semibold-text-transform: none;
  --semantic-typography-body-md-semibold-letter-spacing: 0;
  --semantic-typography-body-md-semibold-line-height: 24;
  --semantic-typography-body-md-semibold-font-size: 16;
  --semantic-typography-body-md-semibold-font-weight: 600;
  --semantic-typography-body-md-semibold-font-family: Open Sans;
  --semantic-typography-body-sm-regular-text-transform: none;
  --semantic-typography-body-sm-regular-letter-spacing: 0;
  --semantic-typography-body-sm-regular-line-height: 20;
  --semantic-typography-body-sm-regular-font-size: 14;
  --semantic-typography-body-sm-regular-font-weight: 400;
  --semantic-typography-body-sm-regular-font-family: Open Sans;
  --semantic-typography-body-sm-semibold-text-transform: none;
  --semantic-typography-body-sm-semibold-letter-spacing: 0;
  --semantic-typography-body-sm-semibold-line-height: 20;
  --semantic-typography-body-sm-semibold-font-size: 14;
  --semantic-typography-body-sm-semibold-font-weight: 600;
  --semantic-typography-body-sm-semibold-font-family: Open Sans;
  --semantic-typography-body-xs-regular-text-transform: none;
  --semantic-typography-body-xs-regular-letter-spacing: 0;
  --semantic-typography-body-xs-regular-line-height: 16;
  --semantic-typography-body-xs-regular-font-size: 12;
  --semantic-typography-body-xs-regular-font-weight: 400;
  --semantic-typography-body-xs-regular-font-family: Open Sans;
  --semantic-typography-body-xs-semibold-text-transform: none;
  --semantic-typography-body-xs-semibold-letter-spacing: 0;
  --semantic-typography-body-xs-semibold-line-height: 16;
  --semantic-typography-body-xs-semibold-font-size: 12;
  --semantic-typography-body-xs-semibold-font-weight: 600;
  --semantic-typography-body-xs-semibold-font-family: Open Sans;
  --semantic-typography-heading-lg-bold-text-transform: none;
  --semantic-typography-heading-lg-bold-letter-spacing: -0.56;
  --semantic-typography-heading-lg-bold-line-height: 28;
  --semantic-typography-heading-lg-bold-font-size: 24;
  --semantic-typography-heading-lg-bold-font-weight: 700;
  --semantic-typography-heading-lg-bold-font-family: Open Sans;
  --semantic-typography-heading-md-semibold-text-transform: none;
  --semantic-typography-heading-md-semibold-letter-spacing: -0.3;
  --semantic-typography-heading-md-semibold-line-height: 24;
  --semantic-typography-heading-md-semibold-font-size: 20;
  --semantic-typography-heading-md-semibold-font-weight: 600;
  --semantic-typography-heading-md-semibold-font-family: Open Sans;
  --semantic-typography-heading-sm-semibold-text-transform: none;
  --semantic-typography-heading-sm-semibold-letter-spacing: 0;
  --semantic-typography-heading-sm-semibold-line-height: 20;
  --semantic-typography-heading-sm-semibold-font-size: 16;
  --semantic-typography-heading-sm-semibold-font-weight: 600;
  --semantic-typography-heading-sm-semibold-font-family: Open Sans;
  --semantic-typography-heading-xl-bold-text-transform: none;
  --semantic-typography-heading-xl-bold-letter-spacing: -0.56;
  --semantic-typography-heading-xl-bold-line-height: 32;
  --semantic-typography-heading-xl-bold-font-size: 28;
  --semantic-typography-heading-xl-bold-font-weight: 700;
  --semantic-typography-heading-xl-bold-font-family: Open Sans;
  --semantic-typography-heading-xs-semibold-text-transform: none;
  --semantic-typography-heading-xs-semibold-letter-spacing: 0;
  --semantic-typography-heading-xs-semibold-line-height: 16;
  --semantic-typography-heading-xs-semibold-font-size: 14;
  --semantic-typography-heading-xs-semibold-font-weight: 600;
  --semantic-typography-heading-xs-semibold-font-family: Open Sans;
  --semantic-typography-label-md-semibold-text-transform: none;
  --semantic-typography-label-md-semibold-letter-spacing: 0.55;
  --semantic-typography-label-md-semibold-line-height: 14;
  --semantic-typography-label-md-semibold-font-size: 12;
  --semantic-typography-label-md-semibold-font-weight: 600;
  --semantic-typography-label-md-semibold-font-family: Open Sans;
  --semantic-typography-label-sm-semibold-text-transform: none;
  --semantic-typography-label-sm-semibold-letter-spacing: 0.55;
  --semantic-typography-label-sm-semibold-line-height: 10;
  --semantic-typography-label-sm-semibold-font-size: 10;
  --semantic-typography-label-sm-semibold-font-weight: 600;
  --semantic-typography-label-sm-semibold-font-family: Open Sans;
  --semantic-typography-link-lg-regular-text-transform: none;
  --semantic-typography-link-lg-regular-letter-spacing: 0;
  --semantic-typography-link-lg-regular-line-height: 24;
  --semantic-typography-link-lg-regular-font-size: 20;
  --semantic-typography-link-lg-regular-font-weight: 400;
  --semantic-typography-link-lg-regular-font-family: Open Sans;
  --semantic-typography-link-md-regular-text-transform: none;
  --semantic-typography-link-md-regular-letter-spacing: 0;
  --semantic-typography-link-md-regular-line-height: 24;
  --semantic-typography-link-md-regular-font-size: 16;
  --semantic-typography-link-md-regular-font-weight: 400;
  --semantic-typography-link-md-regular-font-family: Open Sans;
  --semantic-typography-link-sm-regular-text-transform: none;
  --semantic-typography-link-sm-regular-letter-spacing: 0;
  --semantic-typography-link-sm-regular-line-height: 20;
  --semantic-typography-link-sm-regular-font-size: 14;
  --semantic-typography-link-sm-regular-font-weight: 400;
  --semantic-typography-link-sm-regular-font-family: Open Sans;
  --semantic-typography-link-xs-regular-text-transform: none;
  --semantic-typography-link-xs-regular-letter-spacing: 0;
  --semantic-typography-link-xs-regular-line-height: 16;
  --semantic-typography-link-xs-regular-font-size: 12;
  --semantic-typography-link-xs-regular-font-weight: 400;
  --semantic-typography-link-xs-regular-font-family: Open Sans;
}
