:root {
  --magic-input-input-groups-selected-input: No input selected;
  --colors-primary-100: #030d3f;
  --colors-primary-60: #3892ff;
  --colors-primary-90: #05125c;
  --colors-primary-50: #70baff;
  --colors-primary-40: #99ceff;
  --colors-primary-30: #cce6ff;
  --colors-primary-20: #e5f3ff;
  --colors-neutral-100: #1c1e22;
  --colors-neutral-90: #303540;
  --colors-neutral-80: #454a54;
  --colors-neutral-75: #686e7a;
  --colors-neutral-70: #8690a0;
  --colors-neutral-60: #b2b8c2;
  --colors-neutral-50: #d8dce1;
  --colors-neutral-40: #ecedf0;
  --colors-neutral-30: #f0f3f7;
  --colors-neutral-20: #f7f9fb;
  --colors-neutral-10: #ffffff;
  --colors-repo-60: #25d8ad;
  --colors-cdars-60: #3892ff;
  --colors-ics-60: #eeb217;
  --colors-info-90: #081e96;
  --colors-info-60: #0063e5;
  --colors-info-40: #acd6f6;
  --colors-info-30: #edf6fd;
  --colors-orange-90: #865000;
  --colors-orange-60: #ffb84e;
  --colors-orange-40: #ffd9a0;
  --colors-orange-30: #fff0d9;
  --colors-green-90: #1b592f;
  --colors-green-60: #5aea87;
  --colors-green-40: #9effbd;
  --colors-green-30: #e0ffea;
  --colors-red-90: #80151d;
  --colors-red-70: #e10818;
  --colors-red-60: #fd414f;
  --colors-red-40: #ffb8bd;
  --colors-red-30: #ffe5e7;
  --colors-secondary-mint-30: #006065;
  --colors-secondary-mint-60: #00a0a8;
  --colors-secondary-mint-90: #a7eaee;
  --colors-primary-cerulean: #00b3fa;
  --colors-primary-ultramarine: #081e96;
  --colors-primary-blue: #0063e5;
  --spacing-input-width-xs: 84;
  --spacing-input-width-l: 515;
  --spacing-input-width-s: 192;
  --spacing-input-width-m: 299;
  --spacing-6-xl: 80;
  --spacing-5-xl: 64;
  --spacing-4-xl: 56;
  --spacing-3-xl: 48;
  --spacing-xxl: 40;
  --spacing-xl: 32;
  --spacing-l: 24;
  --spacing-ml: 20;
  --spacing-m: 16;
  --spacing-sm: 12;
  --spacing-s: 8;
  --spacing-xs: 4;
  --spacing-xxs: 2;
  --typography-font-family-link: Open Sans;
  --typography-font-family-button: Open Sans;
  --typography-font-family-label: Open Sans;
  --typography-font-family-body: Open Sans;
  --typography-font-family-heading: Open Sans;
  --typography-font-line-height-3-xl: 32;
  --typography-font-line-height-xxl: 28;
  --typography-font-line-height-xl: 24;
  --typography-font-line-height-l: 20;
  --typography-font-line-height-m: 16;
  --typography-font-line-height-s: 14;
  --typography-font-line-height-xs: 12;
  --typography-font-line-height-xxs: 10;
  --typography-font-size-xxl: 28;
  --typography-font-size-xl: 24;
  --typography-font-size-l: 20;
  --typography-font-size-m: 16;
  --typography-font-size-s: 14;
  --typography-font-size-xs: 12;
  --typography-font-size-xxs: 10;
  --typography-font-weight-regular: Regular;
  --typography-font-weight-semi-bold: SemiBold;
  --typography-font-weight-bold: Bold;
}
